CODEX2API_IMAGE={{ image }}
CODEX_PORT={{ codex_port }}
BIND_HOST={{ bind_host }}
TZ=Asia/Shanghai
DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=codex2api
DATABASE_PASSWORD={{ database_password }}
DATABASE_NAME=codex2api
DATABASE_SSLMODE=disable
CACHE_DRIVER=redis
REDIS_ADDR=redis:6379
REDIS_DB=0
REDIS_TLS=false
REDIS_INSECURE_SKIP_VERIFY=false
ADMIN_SECRET={{ admin_secret }}
CODEX_USAGE_LOG_CAPTURE_REQUEST_CONTENT=false
CODEX_CONVERSATION_RECORDING_ENABLED=true
CODEX_DOWNLOADS_DIR=/data/downloads
{% if vault_proxy_url is defined and vault_proxy_url %}
CODEX_PROXY_URL={{ vault_proxy_url }}
{% endif %}
